* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #FAF7F6;
  color: #333;
}

.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.sobre-img, .sobre-texto {
  width: 50%;
}

.sobre-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.sobre-texto {
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Roupas   */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 40px;
}

.card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.card-detail {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-4px);
}

.card-img {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.card-img-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 14px;
  color: #A61C3C;
  margin-bottom: 5px;
}

.card-desc {
  font-size: 12px;
  color: #555;
  margin-bottom: 8px;
  line-height: 1.3;
}

.card-price {
  display: block;
  font-weight: bold;
  color: #222;
  margin-bottom: 8px;
}

.card-btn {
  width: 100%;
  padding: 8px;
  border: none;
  background: #A61C3C;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card-btn:hover {
  background: #8e1833;
}


footer {
  text-align: center;
  padding: 15px;
  color: white;
  margin-top: 20px;
  background: #A61C3C;
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .sobre-container {
    flex-direction: column;
  }

  .sobre-img, .sobre-texto {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}